html {
  height: 100%;
  width: 100%;
}

img {
    height: 200px;
}
h3 {
padding: 10px;
border: blue 5px solid;
border-radius: 300cm;

}
p {
  border: lightblue 5px solid;
  padding: 10px;
  margin: 10px;
}
img {
  border:peachpuff 5px solid;
  padding:5px;
  margin: 5px;
}
#container {
  max-width: 960px;
margin: 0px auto;
  padding: 20px 60px;
  border: red 10px dotted;
}
.img1{
  border:brown 10px dashed;
}
.img2 {
  border: darkgrey 10px solid;

}
